{% extends 'shop/layouts/main.html' %} {% block title %} cart {% endblock title %} {% block content %}

<section class="bg-light py-4 my2" style="margin-top: 70px; min-height: 500px;">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h3 class="mb-3">Cart Items</h3>
                <hr style="border-color: aliceblue;"> {% include 'shop/inc/message.html' %}
            </div>

            <table class="table table-bordered">
                <tr>
                    <th>Image</th>
                    <th>Product Name</th>
                    <th>Selling Price</th>
                    <th>Quantity</th>
                    <th>Total Price</th>
                    <th>Remove</th>
                </tr>
                {% for item in cart %}
                <tr>
                    <td><img src="{{item.product.product_image.url}}" height="80px" alt="{{item.product.name}}"></td>
                    <td>{{item.product.name}}</td>
                    <td>Rs.{{item.product.selling_price | stringformat:'d'}}</td>
                    <td>{{item.product_qty}}</td>
                    <td class="amt">Rs.{{item.total_price | stringformat:'d'}}</td>
                    <td><a href="{% url 'remove_cart' item.id %}" class="btn btn-danger btn-sm" onclick="return confirm('Are you sure to remove?')"><i class="fa fa-trash"></i>Remove</a></td>
                </tr>

                {% endfor %}
                <tr>
                    <td colspan="3"></td>
                    <td><b>Total Amount</b></td>
                    <td id="net">12</td>
                    <td><button class="btn btn-primary btn-sm">Check Out</button></td>
                </tr>
            </table>
        </div>

    </div>
</section>

<script>
    const nodes = document.querySelectorAll('.amt');
    const arr = Array.from(nodes);
    const res = arr.reduce((pre, cur) => {
        return pre += Number(cur.textContent)
    }, 0);
    document.getElementById('net').innerHTML = 'Rs.' + res;
</script>
{% endblock content %}